<header class="header-6">
  <div class="branding">
    <a class="nav-link" [routerLink]="['']" routerLinkActive="active">
      <span class="clr-icon logo title">
        Silver Paw
      </span>
    </a>
  </div>
  <div class="header-nav">
    <a class="nav-link" [routerLink]="['animals']">
      <span class="nav-text">Животные приюта</span>
    </a>
    <a class="nav-link" [routerLink]="['staff']">
      <span class="nav-text">Персонал приюта</span>
    </a>
    <a class="nav-link" [routerLink]="['feed']">
      <span class="nav-text">Корма</span>
    </a>
    <a class="nav-link" [routerLink]="['objects']">
      <span class="nav-text">Вещи</span>
    </a>
  </div>
  <div class="header-actions header-actions--overflow">
    <div class="dropdown bottom-left">
      <button class="nav-text dropdown-toggle" aria-label="open user profile">
        email
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <div class="dropdown-menu">

        <a href="javascript://" class="dropdown=item">Log out</a>
      </div>
    </div>
  </div>
</header>
