<div align="center">
  <h1>Добро пожаловать на страницу приюта Silver Paw!</h1>
  <h3>Найди себе питомца :)</h3>
  <img height="400" width="400" src="./assets/paw.png" alt="paw">
  <div class="info">
    Добро пожаловать на страницу приюта <b>Silver Paw!</b>
    <br/>
    Здесь вы можете найти себе любого питомца, который принесёт счастье в ваш дом!
    Мы заботимся о кошках, собаках, птицах и других мелких животных, которые оказались на улице.
    Каждое животное очень хочет найти себе новый дом и жить счастливо. Выбирайте себе нового друга :)
    <br/>
    В верхнем меню вы можете перейти на страницу просмотра наших подопечных.
  </div>

  <div class="info">
    Также мы будем очень рады вашей помощи в закупке кормов и других принадлежностей для животных!
    <br/>
    При желании помочь свяжитесь с администратором приюта Натальей Алексеевной.
    <br/>
    Телефон для связи: 385-65-17
  </div>

  <div class="info">
    <b>Наши контакты:</b>
    <br/>
    Телефон: 385-65-17
    <br/>
    Адрес: г. Санкт-Петербург, Кронверкский пр., 49
  </div>
</div>
