<form clrForm [formGroup]="objectsForm">
  <clr-modal [(clrModalOpen)]="modalOpen" clrModalSize="xl">

    <h3 class="modal-title">Добавление новой вещи</h3>
    <div class="modal-body">
      <clr-alert clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>
      <p>Информация о вещи</p>
      <clr-input-container>
        <label>Название</label>
        <input clrInput formControlName="name" type="text">
      </clr-input-container>
      <clr-input-container>
        <label>Описание</label>
        <input clrInput formControlName="description" type="text">
      </clr-input-container>
      <clr-input-container>
        <label>Цена</label>
        <input clrInput formControlName="price" type="number">
      </clr-input-container>

      <clr-input-container>
        <label>Количество</label>
        <input clrInput formControlName="amount" type="number">
      </clr-input-container>
    </div>
    <div class="modal-footer">
      <button *ngIf="objectsForm.valid && loading == false"
              type="button"
              class="btn btn-outline"
              (click)="createObject()">
        Создать вещь
      </button>
    </div>
  </clr-modal>
</form>
