#join td {
  padding: 25px;
}

#join {
  width: 600px;
  text-align: left;
  display: inline-block;
  border-collapse: collapse;
  border: 2px solid #e54368;
  background-color: #fffedd;
  border-radius: 10px;
  margin-top: 30px;
}

.join_button {
  width: 150px;
  background: #0009ff;
  color: aliceblue;
  font-weight: bold;
  font-size: 18px;
}

#joinForm {
  text-align: center;
}

.text {
  border-radius: 8px;
  height: 40px;
  width: 400px;
}

#register_error {
  color: red;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}
