<form clrForm [formGroup]="animalForm">
    <clr-modal [(clrModalOpen)]="modalOpened" clrModalSize="xl" (clrModalOpenChange)="modalClose.emit()">
        <h3 class="modal-title">Добавление нового питомца</h3>
        <div class="modal-body">
            <clr-alert clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>
            <p>Характеристики</p>
            <clr-input-container>
                <label>Имя</label>
                <input clrInput formControlName="name" type="text">
            </clr-input-container>
            <clr-select-container>
                <label>Вид животного</label>
                <select clrSelect formControlName="animalType">
                    <option *ngFor="let t of AnimalTypes" value="t">{{t}}</option>
                </select>
            </clr-select-container>
            <clr-select-container>
                <label>Пол</label>
                <select clrSelect formControlName="gender">
                    <option *ngFor="let g of Gender" [value]="g">{{g}}</option>
                </select>
            </clr-select-container>
            <clr-input-container>
                <label>Вес</label>
                <input clrInput formControlName="weight" type="number">
            </clr-input-container>
            <clr-input-container>
                <label>Возраст, полных лет</label>
                <input clrInput formControlName="age" type="number">
            </clr-input-container>
            <clr-date-container>
                <label>Дата рождения</label>
                <input clrDate type="date" formControlName="dateOfArrival"/>
            </clr-date-container>
            <clr-input-container>
                <label>Место рождения</label>
                <input clrInput formControlName="placeOfArrival" type="text">
            </clr-input-container>
            <clr-input-container>
                <label>Цвет шерсти</label>
                <input clrInput formControlName="furColor" type="text">
            </clr-input-container>
            <clr-input-container>
                <label>Цвет глаз</label>
                <input clrInput formControlName="eyeColor" type="text">
            </clr-input-container>
            <div formGroupName="passport">
                <p>Паспорт</p>
                <clr-input-container>
                    <label>Серия, номер</label>
                    <input clrInput formControlName="number" type="text">
                </clr-input-container>
                <clr-input-container>
                    <label>Имя по паспорту</label>
                    <input clrInput formControlName="officialName" type="text">
                </clr-input-container>
            </div>
            <clr-input-container>
                <label>Ссылка</label>
                <input clrInput formControlName="photo" type="text">
            </clr-input-container>

            <img *ngIf="photo" [src]="photo" id="photo">
            <div formGroupName="newOwner">
                <p>Текущий владелец</p>
                <clr-select-container>
                    <label>Зарегистрирован в системе как:</label>
                    <select clrSelect formControlName="uid">
                        <option [value]="-1">не зарегистрирован</option>
                        <option *ngFor="let user of users" [value]="user">{{user.name}}</option>
                    </select>
                </clr-select-container>
                <clr-input-container>
                    <label>Телефон</label>
                    <input clrInput formControlName="phone" type="text">
                </clr-input-container>
                <clr-input-container>
                    <label>Email</label>
                    <input clrInput formControlName="email" type="email">
                </clr-input-container>
                <clr-input-container>
                    <label>Имя</label>
                    <input clrInput formControlName="address" type="text">
                </clr-input-container>
            </div>

            <div formArrayName="feed">
                <p>Любимый корм</p>
                <div *ngFor="let f of getFeedArr().controls; let i = index" [formGroupName]="i">
                    <clr-select-container>
                        <label [for]="'feed'+i">{{i + 1}} название:
                            <button class="btn btn-link" (click)="deleteFeed(i)">(Х)</button>
                        </label>
                        <select clrSelect [id]="'feed'+i" formControlName="uid">
                            <option *ngFor="let feedType of feed" [value]="feedType.uid">{{feedType.name}}</option>
                        </select>
                    </clr-select-container>
                    <clr-input-container>
                        <label [for]="'feed-amount'+i">Вес порции, г</label>
                        <input [id]="'feed-amount'+i" clrInput formControlName="amountInGramm" type="number">
                    </clr-input-container>
                </div>
                <button class="btn btn-info-outline" (click)="addNewFeed()">добавить</button>
            </div>

            <div formGroupName="animalTypeInfo">
                <div formArrayName="typicalIllnesses">
                    <p>Заболевания</p>
                    <div *ngFor="let ti of getTypicalIllnesses().controls; let i = index" [formGroupName]="i">
                        <clr-input-container>
                            <label [for]="'ti'+i">{{i + 1}} Hазвание
                                <span>
                                    <button class="btn btn-link" (click)="deleteTI(i)">(Х)</button>
                                </span>
                            </label>
                            <input [id]="'ti'+i" clrInput formControlName="name" type="text">
                        </clr-input-container>
                        <clr-input-container>
                            <label [for]="'tid'+i">Описание</label>
                            <input [id]="'tid'+i" clrInput formControlName="description" type="text">
                        </clr-input-container>
                    </div>
                    <button class="btn btn-info-outline" (click)="addTI()">добавить</button>
                </div>

                <div formArrayName="habits">
                    <p>Привычки</p>
                    <div *ngFor="let h of getHabits().controls; let i = index" [formGroupName]="i">
                        <clr-input-container>
                            <label [for]="'h'+i">{{i + 1}} Описание
                                <span>
                                    <button class="btn btn-link" (click)="deleteHabit(i)">(Х)</button>
                                </span>
                            </label>
                            <input [id]="'h'+i" clrInput formControlName="name" type="text">
                        </clr-input-container>
                        <clr-input-container>
                            <label [for]="'hd'+i">Подробнее</label>
                            <input [id]="'hd'+i" clrInput formControlName="description" type="text">
                        </clr-input-container>
                    </div>
                    <button class="btn btn-info-outline" (click)="addHabit()">добавить</button>
                </div>

                <div formArrayName="additionalInfo">
                    <p>Дополнительная информация</p>
                    <div *ngFor="let ai of getAdditionalInfo().controls; let i = index" [formGroupName]="i">
                        <clr-input-container>
                            <label [for]="'ai'+i">{{i + 1}} Описание
                                <span>
                                    <button class="btn btn-link" (click)="deleteInfo(i)">(Х)</button>
                                </span>
                            </label>
                            <input [id]="'ai'+i" clrInput formControlName="name" type="text">
                        </clr-input-container>
                        <clr-input-container>
                            <label [for]="'aid'+i">Подробнее</label>
                            <input [id]="'aid'+i" clrInput formControlName="description" type="text">
                        </clr-input-container>
                    </div>
                    <button class="btn btn-info-outline" (click)="addInfo()">добавить</button>
                </div>
            </div>

            <div formArrayName="additionalCharacteristics">
                Дополнительная информация
                <div *ngFor="let info of getOtherCharacteristic().controls; let i= index" [formGroupName]="i">
                    <clr-input-container>
                        <label [for]="'info'+i">{{i + 1}} Описание
                            <span>
                            <button class="btn btn-link" (click)="deleteCharacteristic(i)">(Х)</button>
                            </span>
                        </label>
                        <input [id]="'info'+i" clrInput formControlName="name" type="text">
                    </clr-input-container>
                    <clr-input-container>
                        <label [for]="'info-desc'+i">Подробнее</label>
                        <input [id]="'info-desc'+i" clrInput formControlName="description" type="text">
                    </clr-input-container>
                </div>
                <button class="btn btn-info-outline" (click)="addCharacteristic()">добавить</button>
            </div>

        </div>


        <div class="modal-footer">
            <button [disabled]="loading == true"
                    type="button"
                    class="btn btn-outline"
                    (click)="creatAnimal()">
                Создать корм
            </button>
        </div>

    </clr-modal>
</form>