#hungry_cats {
    background-image: url("/src/assets/cats.png");
    position: absolute;
    bottom: 2%;
    left: 2%;
}

#cat {
    background-image: url("/src/assets/cat.png");
    position: absolute;
    bottom: 2%;
    right: 2%;
}