<clr-alert clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>
<clr-button-group class="btn-primary" *ngIf="hasAdminPermissions">
    <clr-button (click)="addStaff()">Добавить сотрудника</clr-button>
    <!--    <clr-button>Additional filters</clr-button>-->
</clr-button-group>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'fullName'">Имя</clr-dg-column>
    <clr-dg-column [clrDgField]="'gender'">
        <clr-dg-filter [clrDgFilter]="genderFilter">
            <app-select-filter #genderFilter [clrFilterValue]="'gender'"
                               [clrSelectedValue]="Gender">

            </app-select-filter>
        </clr-dg-filter>
        Пол
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'age'">
        <clr-dg-filter [clrDgFilter]="ageFilter">
            <app-range-filter #ageFilter [clrFilterValue]="'age'"
                              [clrRangeValue]="ageFilterRange">
            </app-range-filter>
        </clr-dg-filter>
        Возраст
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'positionType.name'">Должность</clr-dg-column>
    <clr-dg-column [clrDgField]="'experience'">
        <clr-dg-filter [clrDgFilter]="experienceFilter">
            <app-range-filter #experienceFilter [clrFilterValue]="'experience'"
                              [clrRangeValue]="experienceFilterRange">
            </app-range-filter>
        </clr-dg-filter>
        Опыт работы
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'firstWorkDate'">Первый рабочий день</clr-dg-column>
    <clr-dg-column [clrDgField]="'salary'">
        <clr-dg-filter [clrDgFilter]="salaryFilter">
            <app-range-filter #salaryFilter [clrFilterValue]="'salary'"
                              [clrRangeValue]="salaryFilterParams">
            </app-range-filter>
        </clr-dg-filter>
        Зарплата
    </clr-dg-column>


    <clr-dg-row *clrDgItems="let next of staff" [clrDgItem]="next" (click)="viewStaff(next)">
        <clr-dg-cell>{{next.surname}} {{next.name}} {{next.patronymic}}</clr-dg-cell>
        <clr-dg-cell>{{next.gender}}</clr-dg-cell>
        <clr-dg-cell>{{next.age}}</clr-dg-cell>
        <clr-dg-cell>{{next.positionType.name}}</clr-dg-cell>
        <clr-dg-cell>{{next.experience}}</clr-dg-cell>
        <clr-dg-cell>{{next.firstWorkDate | date}}</clr-dg-cell>
        <clr-dg-cell>{{next.salary}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
            <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">сотрудников на страницу</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} сотрудников
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<app-create-staff-account *ngIf="createNewStaffAccount"
                          [modalOpen]="createNewStaffAccount"
                          (closeModal)="createNewStaffAccount = false; getAllStaff()">

</app-create-staff-account>
<app-view-staff-account *ngIf="viewStaffAccount"
                        [staff]="selectedStaff"
                        [modalOpen]="viewStaffAccount"
                        (closeModal)="viewStaffAccount = false; selectedStaff = undefined; getAllStaff()">
</app-view-staff-account>
