<form clrForm [formGroup]="feedForm">
  <clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="closeModal.emit()">
    <h3 class="modal-title">
      <clr-icon *ngIf="mode == ViewMode.VIEW" shape="pencil" (click)="switchModeToEdit()">
      </clr-icon>
      Корм
    </h3>
    <div class="modal-body">
      <clr-alert clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>
      <p>Информация о корме</p>
      <clr-input-container>
        <label>Название</label>
        <label *ngIf="mode == ViewMode.VIEW">{{feed.name}}</label>
        <input *ngIf="mode == ViewMode.EDIT" clrInput formControlName="name" type="text">
      </clr-input-container>
      <clr-input-container>
        <label>Описание</label>
        <label *ngIf="mode == ViewMode.VIEW">{{feed.description}}</label>
        <input *ngIf="mode == ViewMode.EDIT" clrInput formControlName="description" type="text">
      </clr-input-container>
      <clr-input-container>
        <label>Цена</label>
        <label *ngIf="mode == ViewMode.VIEW">{{feed.price}}</label>
        <input *ngIf="mode == ViewMode.EDIT" clrInput formControlName="price" type="number">
      </clr-input-container>
      <clr-input-container>
        <label>Количество</label>
        <label *ngIf="mode == ViewMode.VIEW">{{feed.amount}}</label>
        <input *ngIf="mode == ViewMode.EDIT" clrInput formControlName="amount" type="number">
      </clr-input-container>
      <button *ngIf="loading == false"
              type="button"
              class="btn btn-outline delete-button"
              (click)="deleteFeed()">
        Удалить
      </button>
    </div>
    <div class="modal-footer">
      <button *ngIf="mode == ViewMode.EDIT && loading == false && feedForm.valid"
              type="button"
              class="btn btn-outline"
              (click)="update()">
        Обновить запись
      </button>
      <button *ngIf="mode == ViewMode.EDIT && loading == false"
              type="button"
              class="btn btn-outline"
              (click)="cancelEdit()">
        Отмена
      </button>
    </div>

  </clr-modal>
</form>
