<h2>Моя страница</h2>
{{this.getUserInfo().email}}

<!--<table class="table table-noborder">
  <caption>
    Demo for a borderless Clarity table.
  </caption>
  <thead>
  <tr>
    <th class="left">Monster</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="left">Wolfman</td>
    <td><img height="100" width="100" src="./assets/avatar.jpg" alt="avatar"></td>
  </tr>
  <tr>
    <td class="left">Mothra</td>
  </tr>
  <tr>
    <td class="left">Oscar the Grouch</td>
  </tr>
  <tr>
    <td class="left">Cookie Monster</td>
  </tr>
  </tbody>
</table>-->
