table {
  color: black;
  width: 400px;
  font-size: 25px;
}
table td, table th {
  font-size: 15px;
  padding: 15px;
}

table td {
  vertical-align: bottom;
}

.naming {
  font-weight: bold;
}

div.clr-col {
  margin: 30px;
}

.clr-align-items-center {
  width: 100%;
}

.edit_button {
  margin-top: 15px;
}

.clr-form-control {
  display: table-cell;
}
